body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#app {
    display: flex;
    height: 100vh;
}

#map {
    width: 70%;
    height: 100vh;
}

#text-column {
    width: 30%;
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;
}

#text-area {
    width: 100%;
    height: 95%;
    font-size: 14px;
}